body{
    background-color: #D82062;
}
        /*  Navber  */
.navbar{
    background-color: #0000007A;
    height: 140px;
    border-bottom: 1.5px dotted whitesmoke;
    margin-top: -20px;
}

.nav-logo{
    height: 112.22px;
    width:345.71px;
    align-items: center;
}
.logo{
    background-image: url(Untitled-design-4.png);
    background-size: cover;
    height: inherit;
    width: 100%;
    margin-top: 6px;
    align-items: center;
    display: flex;
    margin-left: 400px;
    margin-right: 20px;
    margin-bottom: 20px; 
    object-fit: cover;
}

.navbar-toggle{
    margin-top: 35px;

    .icon-bar{
        background-color: #f3f3f3;
    }
}

div ul li a{
    margin-top: 30px;
    color: #ffffff99;
    font-weight: 15px;
    margin-top: 50px;
}

#box{
    border: 2px solid wheat;
    height: 40px;
    width: 95px;
    text-align: center;
    padding-top: 7px;
    margin-top: -10px;
}



h1{
    color: white;
    font-size: 100px;
    text-align: center;
    margin-top: 180px;
    font-family:Impact, fantasy;
}


#head{
    text-align: center;
    margin-top: 100px;
    font-weight: bolder;
    font-size: 45px;
    color: black;
    font-family: Georgia, serif;
}
#head02{
    text-align: center;
    font-size: 18px;
    color: black;
    font-family: Trebuchet MS, sans-serif;
}

                /*  Regiter */

#regi-box{
    font-size: 70px;
    margin-top: 180px;
    font-family: initial;
}
#regi-div{
    background-color: #030202;
    width: 1250px;
    height: 564.84px;
    margin-top: 90px;
    margin-left: 350px;
}

button[type="submit"] {
    background-color: transparent;
    color: #fff;
    padding: 10px 3% 10px;
    border: 3px solid white;
    font-size: 17px;
    cursor: pointer;
    margin-left: 40%;
    margin-top: 50px;

  }
  
  button[type="submit"]:hover {
    background-color: #D82062;
    color: #EFB929;
  }

            /*  Footer */

  footer{
    background-image: url(footer-background-image@2x-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 530px;
    margin-top: 150px;
    object-fit: cover;
    color: white;
  }

  #footer{
    padding-top: 70px;


  }

  .contact{
    color: aliceblue ;
    border-bottom: 1px solid aliceblue;
    font-weight: bold;
    font-size: 16px;
  }

.contact:hover{
    color: #D82062;
}

.foot-logo{
    height: 112.22px;
    width:345.71px;
    padding-left: -20px;
}

/*.footer-logo{
    background-image: url(Untitled-design-4.png);
    background-size: cover;
    height: inherit;
    width: 100%;
    align-items: center;
    display: flex;

} */

hr{
    border: 0.1px dotted gray;

}

                        /*     video     */
                        
#Videos{
    background-image: url(72.jpg);
    background-color: #030202;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 650px;
    object-fit: cover;
}